h3{
  color: #94a8b6;
  font-size: calc(10px + 0.3vw);
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}

.card {
  background-color: #1a1c2e;
  border: 2px solid #037882;
  border-radius: 12px;
  padding: 1rem;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card:hover {
  background-color: #037882;
  transform: translateY(-5px);
}

.card h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #10e7e2;
}

.card p {
  font-size: 0.85rem;
  margin: 0;
  color: #c0c0c0;
  text-align: left;
}

.langue-switch {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px; /* ← ajoute de l'espace entre chaque élément */
  font-size: 1rem;
  color: white;
}

.langue-switch img {
  display: block;
}